<li>
	{{burger_name}}

	<button type="button" class="btn btn-success btn-sm change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Try It!{{else}}I'd like another!{{/if}}
	</button>


</li>
